*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif;
    background-color: #d4d0d0;
    color: #333;
}

header {
    background-color: #d10000;
    color: #ffff;
    text-align: center;
    padding: 20px;
}

main { /*  cant center it correctly, going to do it later with a fresh head  */
    margin-top: 20px; margin-bottom: 20px ;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    color: #4caf50;
    text-align: center;
}

h3 {
    margin-left: 35%;

}

li {
    margin-left: 35%;
}

img {
    display: block;
    margin: 0 auto;
    padding: 1px;
    max-width: 600px;
    border: #080808; border-radius: 20px;
    border: solid;

    max-width: 100%; height: auto;
}


.Email-field {
    margin-bottom: 50px;
    margin-left: 35%;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 5px; margin-left: 30px; border-width: 1px ;
}

footer {
    margin-top: 30px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: green;
    text-align: center; color: white;
}